@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Amatic+SC:wght@700&family=Poppins:wght@300&family=Roboto&display=swap');
body{
    margin: 0%;
}
header{
    background: #96CDE1;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 82px;
    color: #0B0A0A;
    display: inline;
    padding: 20px;
}
h2.name-text {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    color: #000000;
    display: inline;
    padding: 20px;
}
/* .background-image{
background-image: url(../images/container.jpg);
background-size: cover;
background-position: center;
display: flex;
} */
.animal-name{
position: absolute;
width: 185px;
height: 48px;
left: 200px;
top: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 48px;
color: #000000;
}
.animal-photo{
    position: absolute;
    width: 351px;
    height: 214px;
    left: 200px;
    top: 120px;
}
.treatment-date{
left: 520px;
top: 532px;
margin-top: 300px;
font-family: 'Alegreya Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.check{ 
    display: inline;
 }
.divider{

    width:100%;
    display: flex;
}
.divider-01{
    width:20%;
}
.divider-02{
    width:40%;
}
.divider-03{
    width:40%;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */


color: #000000;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

