@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Amatic+SC&family=Poppins&display=swap');
body{
margin:0;
  background-color: #96CDE1; 
}
.nav-bar{

display:flex;
  position: fixed;
width:100%;
overflow: hidden;
  background-color: #96CDE1; 
  z-index: 2;
/* //background-color: #ffffff; */
}
.nav-left{
width:10%;
}
.nav-left img{
  width: 70px;
  height: 70px;
}
.nav-right{
width:90%;
text-align:right;
}

.logo{
width:60px;
}
.navbar-ul{
list-style-type:none;

}
.navbar-ul li{
display:inline;
font-weight:600;
margin-right:3%;
font-family: 'Poppins', sans-serif;
font-size: 15px;

}


.home-section{

background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(../images/landing/d.jpg);
background-size: cover;
background-position: center;
height:100vh;


}
.welcome{
margin-left:20px;

}
.line1{
font-size:40px;
font-weight:bold;
margin-left:20px;
font-family: 'Poppins', sans-serif;
}
.line2{
font-size:60px;
font-weight:bold;
margin-left:75px;
font-family: 'Amatic SC', cursive;
}
button{
margin-top:50px;
margin-left:77px;
padding:10px 60px;
border-radius:20px;
background-color:#C38D9E;
font-weight:bold;
border: none;
color:black;
cursor: pointer;
font-family: 'Poppins', sans-serif;
box-shadow: 0 8px 8px 0 rgba(0,0,0,0.0), 0 2px 2px 0 rgba(0,0,0,1);

}
button:hover {
  background-color:#F8F3F3;
  transition: 0.7s;
}
.section-2{
width:100%;
display:flex;
text-align:center;
background-color:#96CDE1;

}
.sec-1{
width:33%;

}
.sec-1 p{
font-size:12px;
font-weight:bold;
font-family: 'Poppins', sans-serif;
}

.sec-2{
width:33%;
}
.sec-2 p{
  font-size:12px;
  font-weight:bold;
  font-family: 'Poppins', sans-serif;
  }
.sec-3{
width:33%;
}
.sec-3 p{
  font-size:12px;
  font-weight:bold;
  font-family: 'Poppins', sans-serif;
  }
.include{
width:50%;
height:200px;
border-radius:50%;
background-color:#85CDCA;
}
.include-img{
padding-top:50px;
}
.sec-title{
font-size:22px;
font-weight:bold;
font-family: 'Poppins', sans-serif;
}
.section-3{
background-color:#F8F3F3;
}
.section-3 p{
font-size:16px;
font-weight:400;
font-family: 'Poppins', sans-serif;
}

.section-3-title{
font-size:40px;
text-align:center;
font-weight:800;
font-family: 'Poppins', sans-serif;
}
.section-3 p{
text-align:center;
}
h2{
  font-size:20px;
text-align:center;
  font-family: 'Poppins', sans-serif;
}

.section-4{
background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/landingsection4.jpg);
background-size: cover;
background-position: center;
height:100vh;
}

.section-4-title{
font-size:48px;
font-weight:bold;
text-align:center;
font-family: 'Poppins', sans-serif;
}



.section-4 p{
text-align:center;
font-size:16px;
font-family: 'Poppins', sans-serif;
}



.section-5{
width:100%;
display:flex;

}


.sec-5-1{
margin-left:70px;
margin-right:8px;
margin-top:8px;
margin-bottom:8px;
width:25%;
text-align:center;
border-radius:20px;
background-color:#C38D9E;
overflow:hidden;

}
.secction-5 img{
border-radius:20px;
}
.sec-5-2{
margin:8px;
width:25%;
text-align:center;
border-radius:20px;
background-color:#C38D9E;
overflow:hidden;
}
.sec-5-3{
margin:8px;
width:25%;
text-align:center;
border-radius:20px;
background-color:#C38D9E;
overflow:hidden;
}
.sec-5-4{
margin-left:8px;
margin-top:8px;
margin-bottom:8px;
margin-right:70px;
width:25%;
text-align:center;
border-radius:20px;
background-color:#C38D9E;

overflow:hidden;
}

.section-5 p{
text-align:center;
font-size:10px;
}

.section-5 h3{
color:white;
font-family: 'Poppins', sans-serif;
font-weight: 500;

}
.zoom:hover{
transform:scale(1.5);
opacity:0.9;
}


.section-6{
background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/landing/section6.png);
background-size: cover;
background-position: center;


}
a{
text-decoration:none;
color:black;
}

.doc-set{
display:flex;
width:90%;
margin-left: 10%;

}
.doc-1{
  width:30%;
}
.doc-1:hover{
  transform:scale(1.1);
  opacity:0.9;
}
.doc-2{
  width:30%;
}
.doc-2:hover{
  transform:scale(1.1);
  opacity:0.9;
}
.doc-3{
  width:30%;
}
.doc-3:hover{
  transform:scale(1.1);
  opacity:0.9;
}
.doc-set p{
  margin-left: 100px;
  font-weight: bold;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  width:90%;
  display: flex;
}
.about-1{
  width:30%;
  margin-left:10%;
}
.about-1 .title{
font-weight: bolder;
}
.about-1 p{
  font-family: 'Poppins', sans-serif;
}
.about-2{
  width:30%;
   margin-left:5%;
}
.about-2 p{
  font-family: 'Poppins', sans-serif;
}
.about-2 .title{
  font-weight: bolder;
  
  }
.about-3{
  width:30%;
  margin-left:5%;
}
.about-3 p{
  font-family: 'Poppins', sans-serif;
}
.about-3 .title{
  font-weight: bolder;
  
  }
  ul li{
    list-style-type: none;
      font-family: 'Poppins', sans-serif;

  }