:root {
    --colour1: #000D2F;
    --colour2: rgba(215,226,255,0.6);
    --backgroundcolour3: #EEF3FF;
    --colour4: black;
    --colour5: white;
  }
 
  * {
    padding: 0;
    font-family: poppins, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
 
body {
    background-color: var(--backgroundcolour3);
}

.main-container{
    display: flex;
}


/* left nav bar*/

.user-img{
    color:black;
    
}
.user-img img{
    margin-top: 20px;
    height: 200px;
    width: 200px;
}
 
.left-container{
    position: fixed;
    height: 100%;
    width: 18%;
    left: 0;
    top: 0;
    background-color:#96CDE1;
    background-color:#000D2F;
    background-color:#96CDE1;
    /* padding-top: .9rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-container li{
    width: 100%;
   margin-top: 0.4rem;
   padding-left: 1.8rem;
}

.left-container a{
    display: block;
   color: black;

   font-size: 0.8rem;
   padding: 0.7rem 0 0.7rem 0;
}

.left-container span{
    font-weight: bold;
}

.left-container i {
    font-size: 1.2rem;
    padding-right: 1.5rem;
  }
 
  .left-container a.active {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 0px 0px 30px;
    color: #000;
    padding-left: 1rem;
  }
 
  .left-container li a:hover {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 0px 0px 30px;
    color: #000;
    padding-left: 1rem;
  }


  .logout {
    color: #fff;
    font-size: 1rem;
    padding: 0.7rem 0 0.7rem 0;
    padding-left: 1.8rem;
  }
  
.logout a i {
    font-size: 1.2rem;
    padding-right: 1.5rem;
}
 
.logout a:hover {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding-left: 1rem;
    margin-right: 5rem;
}

.logout hr{
    width: 80%;
    margin-bottom: 2px;
    background-color: #A0ACBD;
   }

.right-container{
    position: relative;
    background: var(--backgroundcolour3);
    width:82%;
    margin-left:18%;
}

/*top header*/

.top-bar{
    position: fixed;
   display: flex;
   padding: 10px 20px;
   align-items: center;
   background-color:#96CDE1;
   display: flex;
   width: 82%;
}

.top-bar__left {
    display: flex;
    align-items: center;
  }

  .top-bar__right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
  }
 
  .top-bar__right ul li {
    margin-left: 2rem;
  }
 
  .top-bar__right ul li a {
    color: #000;
    font-size: 1rem;
  }
 
  .top-bar__right ul li a i {
    font-size: 1.5rem;
  }
.hello{
   color:black;
   font-size:24px;
}
.header-font-1{
    font-size:30px;
    font-family: poppins, sans-serif;
}
.header-font-2{
    font-size:30px;
    font-family: 'Amatic SC';
    font-weight: bold;
}

.content{
    height: 90%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    padding: 100px 40px 75px;
}

form{
    font-size: 15px;   
}

input{
    width: 500px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding: 3px;
    margin-bottom: 10px;
    background-color: rgba(215,226,255,0.6);
}

.item-id{

        width: 500px;
        height: 30px;
        border-radius: 8px;
        border: none;
        padding: 3px;
        margin-bottom: 10px;
}

select.dropdown-list{
    width: 500px;
    height: 33px;
    border-radius: 8px;
    border: none;
    padding: 3px;
    margin-bottom: 10px;
    background-color: rgba(215,226,255,0.6);
}

  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
  }

  .topic{
    font-size: 35px;
    font-weight: 700;
  }

  button.btn-add{
    background-color: #C38D9E;
    color: black;
    
    padding: 10px 10px;
    border-radius: 20px;
    /* box-shadow: 0px 0px 2px 2px rgb(0,0,0); */
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.0), 0 2px 2px 0 rgba(0,0,0,1);
    border: none;
    margin: auto;
    width: 120px;
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    /* margin-right: 50px; */
    cursor: pointer;
  
  }
  button.btn-add:hover {
    background-color:rgba(215,226,255,0.6);
    transition: 0.7s;
  }

a.btn-exit{
    background-color: #C38D9E;
    color: black;
    padding: 9px 42px;
    border-radius: 20px;
    /* box-shadow: 0px 0px 2px 2px rgb(0,0,0); */
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.0), 0 2px 2px 0 rgba(0,0,0,1);
    border: none;
    margin: auto;
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    /* margin-right: 50px; */
    cursor: pointer;
  
  }
a.btn-exit:hover {
    background-color:rgba(51, 51, 51, 0.6);
    transition: 0.7s;
  }

  