:root {
    --colour1: #000D2F;
    --colour2: rgba(215,226,255,0.6);
    --backgroundcolour3: #EEF3FF;
    --colour4: black;
    --colour5: white;
  }
 
  * {
    padding: 0;
    font-family: poppins, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
 
body {
    background-color: var(--backgroundcolour3);
}

.main-container{
    display: flex;
}


/* left nav bar*/

.user-img{
    color:black;
    
}
.user-img img{
    margin-top: 20px;
    height: 200px;
    width: 200px;
}
 
.left-container{
    position: fixed;
    height: 100%;
    width: 18%;
    left: 0;
    top: 0;
    background-color:#96CDE1;
    background-color:#000D2F;
    background-color:#96CDE1;
    /* padding-top: .9rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-container li{
    width: 100%;
   margin-top: 0.4rem;
   padding-left: 1.8rem;
}

.left-container a{
    display: block;
   color: black;

   font-size: 0.8rem;
   padding: 0.7rem 0 0.7rem 0;
}

.left-container span{
    font-weight: bold;
}

.left-container i {
    font-size: 1.2rem;
    padding-right: 1.5rem;
  }
 
  .left-container a.active {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 0px 0px 30px;
    color: #000;
    padding-left: 1rem;
  }
 
  .left-container li a:hover {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 0px 0px 30px;
    color: #000;
    padding-left: 1rem;
  }


  .logout {
    color: #fff;
    font-size: 1rem;
    padding: 0.7rem 0 0.7rem 0;
    padding-left: 1.8rem;
  }
  
.logout a i {
    font-size: 1.2rem;
    padding-right: 1.5rem;
}
 
.logout a:hover {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding-left: 1rem;
    margin-right: 5rem;
}

.logout hr{
    width: 80%;
    margin-bottom: 2px;
    background-color: #A0ACBD;
   }

.right-container{
    position: relative;
    background: var(--backgroundcolour3);
    width:82%;
    margin-left:18%;
}

/*top header*/

.top-bar{
    position: fixed;
   display: flex;
   padding: 10px 20px;
   align-items: center;
   background-color:#96CDE1;
   display: flex;
   width: 82%;
}

.top-bar__left {
    display: flex;
    align-items: center;
  }

  .top-bar__right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
  }
 
  .top-bar__right ul li {
    margin-left: 2rem;
  }
 
  .top-bar__right ul li a {
    color: #000;
    font-size: 1rem;
  }
 
  .top-bar__right ul li a i {
    font-size: 1.5rem;
  }
.hello{
   color:black;
   font-size:24px;
}
.header-font-1{
    font-size:30px;
    font-family: poppins, sans-serif;
}
.header-font-2{
    font-size:30px;
    font-family: 'Amatic SC';
    font-weight: bold;
}

.content{
    height: 90%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    padding: 100px 40px 75px;
}

.content-summary{
    justify-content: space-around; 
    background: rgba(133, 205, 202, 0.6);
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 15px;
}

.summary{
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
}
.summary-content{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    background: rgba(215,226,255,0.6);
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

.shopping-cart{
    width: 70px;
    height: 70px;
  }
  
  .best-summary{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
  }

  .topic{
    font-size: 35px;
    font-weight: 700;
  }

  