body{
    font-family: 'Alegreya Sans';
    font-style: normal;
    background: #96CDE1;
    margin: 0;
}

.main-container{
    display: flex;
}

.navbar{
    width: 15%;
    height: 100%;
}

.container{
    width: 85%;
    height: 100%;
}

button{
    border: none;
    border-radius: 50px;
    background-color: #96CDE1;
}

button:hover{
    opacity: .70;
}

table {
    border-collapse: collapse;
}
th {
    background-color:green;
    Color:white;
}
th, td {
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:5px
 
}