body{
margin:0;
}

.header-font{
font-size:40px;
padding:40px;
}
.nav-bar{
display:flex;
position: fixed;
width:100%;
/* overflow: hidden; */
  
background-color:#96CDE1; 
z-index:2';
}
.nav-left{
width:40%;
float:left;
}
.nav-right{
width:60%;
text-align:right;
float:right;
}
.navbar-ul{
list-style-type:none;
}
.navbar-ul li{
display:inline;
margin-right:3%;
}
.notification{
width:5%;
margin-right:3%;
}
.msg{
width:5%;
margin-right:3%;
}
.log{
margin-bottom:20px;
background-color:white;
/* align:center; */
}

.not-li{
background-color:white;
}

.main{

width:100%;
display:flex;
}
.main-left{
width:18%;
background-color:#96CDE1; 
float:left;


}
.main-left ul{
    list-style-type: none;
    font-size: 15px;
    font-weight:bold;
}

.main-right{
width:82%;
float:right;
background-image: url(../images/ad_panel.jpg);
background-size: cover;
background-position: center;
height: 100vh;
width:100%;


}
.notification{
width:3%;
}
.msg{
width:3%;
}
.log-out{
width:3%;
}
.clear{
clear:both;
}

.main-left-icon{
width:50%;

}
.main-left-left{
float:left;
width: 30%;


}
.main-left-right{
float:right;
padding-right: 30px;;
width: 70%;
}
.left-main-navigation{
    width:100%;
    display: flex;
}
.doctor-img{
    width:60%;

}
.doc-name{
font-size: 20px;
text-align: center;
font-weight: bold;

}
.staff-title{
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    background-color:#85CDCA;
    padding-left:430px; 
    padding-right:430px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;;
    opacity: 90%;
margin-left:100px;
margin-right:100px;
}

form input {
  font-family:sans-serif;
  background: #AFFF8A;
  width: 50%;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius:10px;
}
form input:focus {
  border: 3px solid dodgerblue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

form{
margin:50px;
}

form label{
font-weight:bold;
font-size:18px;
}

button{
padding:10px;
border-radius:10px;
color:white;
font-weight:bold;
cursor:pointer;
width:100px;
background-color:black;
}

button:hover{
color:white;
background-color:green;
}

.alert{
    color:white;
    background-color:#18d576;
    margin-top:8px;
    padding:8px;
    border-radius:10px;
    width:300px;
    text-align:center;
     }






.edit-form{
padding-left:200px;
}


