:root {
  --colour1: #000D2F;
  --colour2: rgba(215,226,255,0.6);
  --backgroundcolour3: #EEF3FF;
  --colour4: black;
  --colour5: white;
}

* {
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--backgroundcolour3);
}

.user-img{
color:#000;

}

.sidebar {
  position: fixed;
  height: 100%;
  width: 18%;
  left: 0;
  top: 0;
 background-color:#96CDE1;
background-color:#000D2F;
background-color:#96CDE1;
  padding-top: .9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar li {
  width: 100%;
  margin-top: 0.4rem;
  padding-left: 1.8rem;
}


.sidebar a {
  display: block;
  color:#000D2F;
  font-weight:600;

  font-size: 0.8rem;
  padding: 0.7rem 0 0.7rem 0;
}
.sidebar span {
  font-weight: semi-bold;
}

.sidebar i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.sidebar a.active {
  background-color:#fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.sidebar li a:hover {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.logout {
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 0 0.7rem 0;
  padding-left: 1.8rem;
}



.logout a i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.logout a:hover {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding-left: 1rem;
  margin-right: 5rem;
}

.content {
  position: relative;
  background: var(--backgroundcolour3);
  width:82%;
  margin-left:18%;
}

.logout hr{
 width: 80%;
 margin-bottom: 2px;
 background-color: #A0ACBD;
}

/*Navbar*/

.navbar {
 color:#000;
  position: fixed;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color:#96CDE1;
  display: flex;
  justify-content: space-between;
  width: 82%;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.navbar__left {
  display: flex;
  align-items: center;
}



.nav-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color:#000;
}
.hello{
color:#000;
font-size:25px;
}

.navbar__right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
  color:#000;
}

.navbar__right ul li {
  margin-left: 2rem;
  color:#000;
}

.navbar__right ul li a {
  color: #000;
  font-size: 1rem;
  color: #fff;
}

#userName {
  font-weight: bold;
  color:#000;
}

#designation {
  font-size: 0.8rem;
  color:#000;
}

.navbar__right ul li a i {
  font-size: 1.5rem;
  color:#000;
}

 .container {
/* background-image: url(../images/admin_panel.jpg); */
background-size: cover;
background-position: center;
height: 100vh;
 }

 .profile-details{
  display:flex;
  width: 100%;
  height:100vh;
 }
 .profile-details-side1{
  width: 50%;
  border: none;
  border-right: #000D2F solid;
  
 }

 .profile-details-side2{
  width: 50%;

 }
 .profile-theme{
   background-color:#96CDE1;
   border-radius: 10px;;
background-size: cover;
background-position: center;
margin-right:10px;
margin-left: 10px;
 }
 .profile-picture{
  padding: 10px;
 }
/* You can style the form elements as per your design requirements */
.right-content form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right-content label {
  font-weight: bold;
}

.right-content input[type="password"] {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.right-content input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.right-content input[type="submit"]:hover {
  background-color: #0069d9;
}