body{
margin:0;
background-image : url(../images/background.jpg) ;
background-size : cover ;
height : 100vh ;
background-position : center ;

}
form{
    width:60%;
margin-right:10%;

margin-left:10%;

background-color:#96CDE1;
padding:30px;
border-radius:30px;

}
.form {

max-width:80%;
  
    
  
  }
  
  .form input {
    font-family:sans-serif;
  background-color:#E0E3E5;
    
  
  
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
   
    font-size: 14px;
    border-radius:30px;
  border-color:black;
  
  }
  .form button {
    font-family: sans-serif;
   

background-color:#000D2F;
  width:100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
   border-radius:30px;
  border:none;
  }
  form input:focus {
    border: 3px solid dodgerblue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  .form button:hover{
  background: dodgerBlue;
color:black;
 font-weight:bold;
  
  }
.reg-alert{
    color:white;
    background-color:rgb(148, 35, 0);
    margin-top:24px;
    
    padding:8px;
    border-radius:10px;
    width:400px;
    text-align:center;
     }
.registration{
display:flex;
width:100%;
}
.side-1{
width:50%;

background-color: rgba(255, 255, 255, .5);
height: 100vh;
}
.side-2{
width:50%;
}
.side-1 p{
  font-weight: bolder;
  font-size: 60px;


}
.sec-name{
 
  margin-right: 13%;
  color: #ffffff;
  padding-left:7px;
  padding-right:7px;
  padding-top:3px;
  padding-bottom:3px;
  background-color: #000D2F;
  border-radius: 20px;
  width:50%;
}
.side-1 img{
  margin-left:65%;
}