:root {
  --colour1: #000D2F;
  --colour2: rgba(215,226,255,0.6);
  --backgroundcolour3: #white;
  --colour4: black;
  --colour5: white;
}

* {
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--backgroundcolour3);
}

.user-img{
color:white;

}

.sidebar {
  position: fixed;
  height: 100%;
  width: 18%;
  left: 0;
  top: 0;
 background-color:#96CDE1;
background-color:#000D2F;
background-color:#96CDE1;
  padding-top: .9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar li {
  width: 100%;
  margin-top: 0.4rem;
  padding-left: 1.8rem;
}


.sidebar a {
 display: block;
 color:#000D2F;
 font-weight:600;

 font-size: 0.8rem;
 padding: 0.7rem 0 0.7rem 0;
}

.sidebar span {
  font-weight: semi-bold;
}

.sidebar i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.sidebar a.active {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.sidebar li a:hover {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.logout {
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 0 0.7rem 0;
  padding-left: 1.8rem;
}



.logout a i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.logout a:hover {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding-left: 1rem;
  margin-right: 5rem;
}

.content {
  position: relative;
  background: var(--backgroundcolour3);
  width:82%;
  margin-left:18%;
}

.logout hr{
 width: 80%;
 margin-bottom: 2px;
 background-color: #A0ACBD;
}

/*Navbar*/

.navbar {
  position: fixed;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color:#96CDE1;
  display: flex;
  justify-content: space-between;
  width: 82%;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.navbar__left {
  display: flex;
  align-items: center;
}



.nav-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.hello{
color:black;
font-size:25px;
}

.navbar__right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
}

.navbar__right ul li {
  margin-left: 2rem;
}

.navbar__right ul li a {
  color: #000;
  font-size: 1rem;
}

#userName {
  font-weight: bold;
}

#designation {
  font-size: 0.8rem;
}

.navbar__right ul li a i {
  font-size: 1.5rem;
}

.container {
background-size: cover;
background-position: center;
height: 100vh;
}

 .report-title{
  font-size: 35px;
    font-weight: 700;
margin-top:50px;
margin-left: 50px;

}

font.header-font-2 {
  font-size: 30px;
    font-family: 'Amatic SC';
    font-weight: bold;
}

.title-set{
  display:flex;
  width:94%;
  margin-left: 3%;
}
.t1{
width: 30%;
background-image: url(../images/r1.jpg);
background-size: cover;
background-position: center;
margin-left: 2%;
margin-right: 2%;
text-align: center;
padding: 60px;
font-weight: bold;
font-size: medium;
color:black;
border-radius: 20px;
cursor: pointer;
border:#fff solid;
}
.t1:hover{
  transform:scale(1.1);
opacity:0.9;

}
.title-set p{
  padding: 5px;
  background-color:rgba(255, 255, 255, 0.8);
  border-radius: 20px;

}

.t2{
  width: 30%;
  background-image: url(../images/r2.jpg);
background-size: cover;
background-position: center;
margin-left: 2%;
margin-right: 2%;
text-align: center;
padding: 60px;
font-weight: bold;
font-size: medium;
color:black;
border-radius: 20px;
cursor: pointer;
border:#fff solid;
  }
  .t2:hover{
    transform:scale(1.1);
  opacity:0.9;
  
  }
  .t3{
    width: 30%;
  background-image: url(../images/r3.jpg);
background-size: cover;
background-position: center;
margin-left: 2%;
margin-right: 2%;
text-align: center;
padding: 60px;
font-weight: bold;
font-size: medium;
color:black;
border-radius: 20px;
cursor: pointer;
border:#fff solid;
    
    }
    .t3:hover{
      transform:scale(1.1);
    opacity:0.9;
    
    }
    .t4{
      width: 30%;
      background-image: url(../images/r4.jpeg);
    background-size: cover;
    background-position: center;
    padding: 60px;
    
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
font-size: medium;
color:black;
border-radius: 20px;
cursor: pointer;
border:#fff solid;
      }
      .t4:hover{
        transform:scale(1.1);
      opacity:0.9;
      
      }
      .t5{
        width: 30%;
        background-image: url(../images/r5.jpg);
      background-size: cover;
      background-position: center;
      padding: 60px;
      
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;
      margin-top: 25px;
      font-weight: bold;
  font-size: medium;
  color:black;
  border-radius: 20px;
  cursor: pointer;
  border:#fff solid;
      }
      .t5:hover{
        transform:scale(1.1);
      opacity:0.9;
      
      }

      .t6{
        width: 30%;
        background-image: url(../images/r6.jpg);
      background-size: cover;
      background-position: center;
      padding: 60px;
      
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;
      margin-top: 25px;
      font-weight: bold;
  font-size: medium;
  color:black;
  border-radius: 20px;
  cursor: pointer;
  border:#fff solid;

      }
      .t6:hover{
        transform:scale(1.1);
      opacity:0.9;
      
      }




