body{
    margin: 0;
    background-image: url(../images/Dash.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.topic{  
    background-color: #96CDE1;;
}

.welcome{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
}

.name{
    font-family: 'Amatic SC';
    font-style:  normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 88px;
}

.logout{
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    position: absolute;
    width: 90px;
    height: 34px;
    left: 1305px;
    top: 25px;
    border-radius: 10px;
}

.messages{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1215px;
    top: 18px;
    border-radius: 50%;
}

.notification{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1138px;
    top: 18px;
    border-radius: 50%;

}
button{
    border: none;
}
button:hover{
    opacity: .70;
}

body{
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #96CDE1;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 40px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #C38D9E;
    color: C38D9E;
  }
  
  li a:hover:not(.active) {
    background-color: #f1f1f1;
    color: #C38D9E;
  }
  
  .summary-1{
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
}
.summary-2{
    position: absolute;
    margin-left: 200px;
    margin-top: 200px;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
}
.summary-3{
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
}
.summary-content{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    background: rgba(133, 205, 202, 0.6);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

.number{
    color: white;
}

.shopping-cart{
  width: 70px;
  height: 50px;
}

.best-summary{
   
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.content{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    padding: 25px 50px 75px;
}

.container{
    margin-left: 140px;
    margin-top: 40px;
}

button {
    float: right;
    padding: 10px 15px;
    color: black;
    margin-right: 90px;
    border: none;
    width: 300px;
    background-color: #C38D9E;
    padding: 10px;
    border-radius: 30px;
}


button:hover{
    opacity: .60;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 18%;
    left: 0;
    top: 0;
   background-color:#96CDE1;
 background-color:#000D2F;
 background-color:#96CDE1;
 background-color:#000D2F;
    padding-top: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
  .sidebar li {
    width: 100%;
    margin-top: 0.4rem;
    padding-left: 1.8rem;
  }
 
  .sidebar a {
    display: block;
    color: #fff;
 
    font-size: 0.8rem;
    padding: 0.7rem 0 0.7rem 0;
  }
 
  .sidebar span {
    font-weight: semi-bold;
  }
 
  .sidebar i {
    font-size: 1.2rem;
    padding-right: 1.5rem;
  }
 
  .sidebar a.active {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 0px 0px 30px;
    color: #000;
    padding-left: 1rem;
  }
 
  .sidebar li a:hover {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 0px 0px 30px;
    color: #000;
    padding-left: 1rem;
  }

  
  .navbar {
    position: fixed;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color:#96CDE1;
    display: flex;
    justify-content: space-between;
    width: 82%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
 
  .navbar__left {
    display: flex;
    align-items: center;
  }
 
 
 
  .nav-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
 .hello{
 color:black;
 font-size:25px;
 }
 
  .navbar__right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
  }
 
  .navbar__right ul li {
    margin-left: 2rem;
  }
 
  .navbar__right ul li a {
    color: #000;
    font-size: 1rem;
  }
 
  #userName {
    font-weight: bold;
  }
 
  #designation {
    font-size: 0.8rem;
  }
 
  .navbar__right ul li a i {
    font-size: 1.5rem;
  }
 