@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
    background-color: #96CDE1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-weight: bold;
}

.normal-link{
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.welcome {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight:600;
}

.form-content {
    display: flex;  
    justify-content: right;
}

.form-content label{
    margin: 0px 30px 0px 0px;
}

.left {
    width: 40%;
    height: 100%;
}


.right {
    width: 50%;
    height: 80vh;

}

.image{
    width: 700px;
    height: 670px;
    margin-left: 10%;
}




body {
    margin: 0;
    background-color: #96CDE1;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    border: none;
}

* {
    font-family: roboto;
    box-sizing: padding-box;
}

form {
    padding: 35px;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 90px;
    height: 90%;
    width: 100%;

}

.form-content {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.container input {
    display: block;
    border: 2px solid #ccc;
    width: 300px;
    padding: 6px;
    margin: 0;
    border-radius: 30px;
    background-color: #C38D9E;


}

label {
    color: black;
    /* font-size: 18px;
    padding: 10px;
    margin: 0px 10px 0px 0px; */
}

label.loging-label1 {
    margin-left: 25px;
}


button {
    float: right;
    padding: 10px 15px;
    color: black;
    margin-right: 70px;
    border: none;
    width: 150px;
}

.btn-login {
    background-color: #C38D9E;
    padding: 10px;
    border-radius: 30px;

}

.btn-exit {
    background-color: #C38D9E;
    border-radius: 30px;

}



.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.psw{
    font-style: italic;
    margin-top: 100px;
    text-align: center;
    margin-left: 300px;
}


a{
    text-decoration: none;
    color: black;
}

.nav-link {
    display: flex;
    margin-right: 40px;
}

.nav-item {
    margin: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.active-btn {
    background-color: #1B7B99;
}