body{
    font-family: 'Alegreya Sans';
    font-style: normal;
    background: #96CDE1;
    padding: 25px;
}

button:hover{
    opacity: .70;
}

button{
    font-size: 15px;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

.btn-search{
    background-color: #88E471;
}

input{
    width: 500px;
    height: 30px;
    border-radius: 8px;
    border: none;
}

table{
    font-size: 20px;
    align-items: center;
}

td, th {
    text-align: left;
    padding: 8px;
  }
