:root {
    --colour1: #000D2F;
    --colour2: rgba(215, 226, 255, 0.6);
    /* --backgroundcolour3: #EEF3FF; */
    --colour4: black;
    --colour5: white;
}

* {
    padding: 0;
    font-family: poppins, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    background: #96CDE1;
    margin: 0;
    background-image: url(../images/Dash.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container{
    display: flex;
}

.navbar{
    width: 15%;
    height: 100%;
}

.container{
    width: 85%;
    height: 100%;
    position: relative;
    margin: 20px;
    margin-top: 40px;
}

body {
    margin: 0;
    background-image: url(../images/Dash.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.user-img {
    color: rgb(0, 0, 0);
  
}

.image{
 width: 200px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 18%;
    left: 0;
    top: 0;
    background-color: #96CDE1;
    padding-top: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar li {
    width: 100%;
    margin-top: 0.4rem;
    padding-left: 1.8rem;
}

.sidebar a {
    display: block;
    color: rgb(0, 0, 0);

    font-size: 0.8rem;
    padding: 0.7rem 0 0.7rem 0;
}

.sidebar span {
    font-weight: semi-bold;
}

.sidebar i {
    font-size: 1.2rem;
    padding-right: 1.5rem;
}

.sidebar a.active {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 0px 0px 30px;
    color: #000;
    padding-left: 1rem;
}

.sidebar li a:hover {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 0px 0px 30px;
    color: #000;
    padding-left: 1rem;
}

.logout {
    color: #fff;
    font-size: 1rem;
    padding: 0.7rem 0 0.7rem 0;
    padding-left: 1.8rem;
}



.logout a i {
    font-size: 1.2rem;
    padding-right: 1.5rem;
}

.logout a:hover {
    background-color: #fff;
    color: var(--backgroundcolour3);
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding-left: 1rem;
    margin-right: 5rem;
}

.content {
    position: fixed;
    background: var(--backgroundcolour3);
    width: 82%;
    margin-left: 18%;
}

.logout hr {
    width: 80%;
    margin-bottom: 2px;
    background-color: #A0ACBD;
}

/*Navbar*/

.navbar {
    /* position: fixed; */
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: #96CDE1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar__left {
    display: flex;
    align-items: center;
}



.nav-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.hello {
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.name {}

.top-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 120px;
}


.box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: max-content;
    left: 63px;
    top: 164px;
    background: rgba(133, 205, 202, 0.6);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 20PX;
}

.top-text{
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}

.count{
    font-size: 60px;
    font-weight:bolder;
}

.register-btn{
    color: black;
    border: none;
    background-color: #C38D9E;
    padding: 10px;
    border-radius: 30px;
}


.navbar__right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
}

.navbar__right ul li {
    margin-left: 2rem;
}

.navbar__right ul li a {
    color: #000;
    font-size: 1rem;
}

#userName {
    font-weight: bold;
}

#designation {
    font-size: 0.8rem;
}

.navbar__right ul li a i {
    font-size: 1.5rem;
}

.container {
    background-image: url(../images/admin_panel.jpg);
    background-size: cover;
    background-position: center;
}
.btn-add{
    border: none;
    border-radius: 20px;
    background-color: #C38D9E;
    font-size: 15px;
    padding: 10px;
    margin: 8px;
}

button:hover{
    opacity: .70;
}

table {
    border: none;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
}

th, td {
    width:150px;
    text-align:center;
    padding:5px; 
    background-color: rgba(255, 255, 255, 0.5);
    
}

td{
   
    background-color: rgba(255, 255, 255, 0.5);
    
}

.details{
    text-align:left;
}

.action{
    width: 40px;
}

.pet-item{
    background: rgba(133, 205, 202, 0.6);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: 520px;
    padding-right: 520px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

input {
    border: none;
    padding: 15px;
    border-radius: 10px;
}

/* img{
    width: 20px;
    height: 20px;
} */

.add{
    width: 20px;
    height: 20px;
}

.topbar{
    display: flex;
    flex-direction: row;
}

.bar-content{
    display: flex;
    flex-direction: column;
}

.add-bar{
    padding-left: 800px;
}
/* drop down list */

.dropbtn {
    background-color: #F8F3F3;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content li:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;background-color: #f1f1f1;}
  
  .dropdown:hover .dropbtn {background-color: #C38D9E;}