@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Amatic+SC&family=Poppins&display=swap');
 :root {
   --colour1: #000D2F;
   --colour2: rgba(215,226,255,0.6);
   --backgroundcolour3: #EEF3FF;
   --colour4: black;
   --colour5: white;
 }

 * {
   padding: 0;
   font-family: poppins, sans-serif;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
 }

 body {
   background-color: var(--backgroundcolour3);
 }

.user-img{
color:white;

}
.user-img img{
  margin-top: 20px;
  height: 200px;
  width: 200px;
}
/* .heading{
  margin-top: 50px;
  margin-left: 30px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  float: left;
} */
.topic{
  font-size: 40px;
  font-weight: 950;
  margin-left:50px;
  margin-top: 30px;
}

 .sidebar {
   position: fixed;
   height: 100%;
   width: 18%;
   left: 0;
   top:0;
  background-color:#96CDE1;
background-color:#000D2F;
background-color:#96CDE1;

   padding-top: rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .sidebar li {
   width: 100%;
   margin-top: 0.4rem;
   padding-left: 1.8rem;
 }

 .sidebar a {
   display: block;
   color:black;

   font-size: 0.8rem;
   padding: 0.7rem 0 0.7rem 0;
 }

 .sidebar span {
   font-weight: bold;
 }

 .sidebar i {
   font-size: 1.2rem;
   padding-right: 1.5rem;
 }

 .sidebar a.active {
   background-color: #fff;
   color: var(--backgroundcolour3);
   border-radius: 30px 0px 0px 30px;
   color: #000;
   padding-left: 1rem;
 }

 .sidebar li a:hover {
   background-color: #fff;
   color: var(--backgroundcolour3);
   border-radius: 30px 0px 0px 30px;
   color: #000;
   padding-left: 1rem;
 }

 .logout {
   color: #fff;
   font-size: 1rem;
   padding: 0.7rem 0 0.7rem 0;
   padding-left: 1.8rem;
 }



 .logout a i {
   font-size: 1.2rem;
   padding-right: 1.5rem;
 }

 .logout a:hover {
   background-color: #fff;
   color: var(--backgroundcolour3);
   border-radius: 30px 30px 30px 30px;
   color: #000;
   padding-left: 1rem;
   margin-right: 5rem;
 }

 .content {
   position: relative;
   background: var(--backgroundcolour3);
   width:82%;
   margin-left:18%;
 }

 .logout hr{
  width: 80%;
  margin-bottom: 2px;
  background-color: #A0ACBD;
 }

 /*Navbar*/

 .navbar {
   position: fixed;
   display: flex;
   padding: 10px 20px;
   align-items: center;
   background-color:#96CDE1;
   display: flex;
   justify-content: space-between;
   width: 82%;
   
 }

 .navbar__left {
   display: flex;
   align-items: center;
 }



 .nav-icon {
   font-size: 1.5rem;
   margin-right: 1rem;
 }
.hello{
color:black;
font-size:25px; 
}
.header-font-1{
  font-size:30px;
  /* padding:20px; */
  font-family: poppins, sans-serif;
  }
  .header-font-2{
      font-size:30px;
      /* padding:40px; */
      font-family: 'Amatic SC';
      font-weight: bold;
   }

 .navbar__right ul {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-right: 2rem;
 }

 .navbar__right ul li {
   margin-left: 2rem;
 }

 .navbar__right ul li a {
   color: #000;
   font-size: 1rem;
 }

 #userName {
   font-weight: bold;
 }

 #designation {
   font-size: 0.8rem;
 }

 .navbar__right ul li a i {
   font-size: 1.5rem;
 }

.dashboard-title{
width:100%;
display:flex;
color:black;

}
.dash-1{
width:22%;
margin-left:1.5%;
margin-right:1.5%;
padding:10px;
  background-color:#96CDE1;
margin-top:70px;
border: solid white;
border-radius:20px;
}
.dash-2{
width:22%;
margin-left:1.5%;
margin-right:1.5%;
  background-color:#96CDE1;
border-radius:20px;
margin-top:70px;
padding:10px;
border: solid white;
}
.dash-3{
width:22%;
margin-left:1.5%;
margin-right:1.5%;
  background-color:#96CDE1;
border-radius:20px;
margin-top:70px;
padding:10px;
border: solid white;
}
.dash-4{
width:22%;
margin-left:1.5%;
margin-right:1.5%;
  background-color:#96CDE1;
border-radius:20px;
margin-top:70px;
padding:10px;
border: solid white;
}
.staff-title{
  text-align: center;
  font-size: 18px;
  font-weight:bold;
  color:#fff;
    background-color:#000D2F;
  padding-left:300px;
padding-right:300px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
margin-left:100px;
margin-right:100px;
margin-top:50px;


}
.table{
  width:100%;
  

}
table{
  width:100%;
  margin-left:2%;
  text-align: center;
  padding:5px;
  /* background-color: #96CDE1; */
  background-color: #fff;
  
}
.content{
  width:82%;
  float:right;
  background-size: cover;
  background-position: center;
  }
  
 /* appointments table css */
.appointment-table {
    border-collapse: collapse;
    width: 95%;
}

.appointment-table th, .appointment-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.appointment-table th {
    background-color: #96CDE1;
    color: black;
}

.appointment-table tr:hover {
    background-color: #a7dbee;
}

.appointment-table a {
    text-decoration: none;
    color: #333;
}