@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Amatic+SC&family=Poppins&display=swap');
:root {
  --colour1: #000D2F;
  --colour2: rgba(215,226,255,0.6);
  --backgroundcolour3: #EEF3FF;
  --colour4: black;
  --colour5: white;
}

* {
  padding: 0;
  font-family: poppins, sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--backgroundcolour3);
}

.user-img{
color:black;

}
.user-img img{
  margin-top: 20px;
  height: 200px;
  width: 200px;
}


.sidebar {
  position: fixed;
  height: 100%;
  width: 18%;
  left: 0;
  top: 0;
 background-color:#96CDE1;
background-color:#000D2F;
background-color:#96CDE1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar li {
  width: 100%;
  margin-top: 0.4rem;
  padding-left: 1.8rem;
}

.sidebar a {
  display: block;
  color:black;

  font-size: 0.8rem;
  padding: 0.7rem 0 0.7rem 0;
}

.sidebar span {
  font-weight: bold;
}

.sidebar i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.sidebar a.active {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.sidebar li a:hover {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.logout {
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 0 0.7rem 0;
  padding-left: 1.8rem;
}



.logout a i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.logout a:hover {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding-left: 1rem;
  margin-right: 5rem;
}
.hello{
  color:black;
  font-size:24px;
  
  }
 .header-font-1{
  font-size:30px;
  /* padding:20px; */
  font-family: poppins, sans-serif;
  }
  .header-font-2{
      font-size:30px;
      /* padding:40px; */
      font-family: 'Amatic SC';
      font-weight: bold;
   }

.content {
  position: relative;
  background: var(--backgroundcolour3);
  width:82%;
  margin-left:18%;
}

.logout hr{
 width: 80%;
 margin-bottom: 2px;
 background-color: #A0ACBD;
}

/*Navbar*/

.navbar {
  color:black;
  position: fixed;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color:#96CDE1;
  display: flex;
  justify-content: space-between;
  width: 82%;
  
}

.navbar__left {
  display: flex;
  align-items: center;
}



.nav-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: black;
}
.hello{
color:black;
font-size:25px;
}

.navbar__right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
  color: black;
}

.navbar__right ul li {
  margin-left: 2rem;
  color: black;
}

.navbar__right ul li a {
  color: #000;
  font-size: 1rem;
  color: black;
}

#userName {
  font-weight: bold;
  color: #fff;
}

#designation {
  font-size: 0.8rem;
  color: #fff;
}

.navbar__right ul li a i {
  font-size: 1.5rem;
  color: black;
}

 .container {
 /* background-image: url(../images/admin_panel.jpg);   */
background-size: cover;
background-position: center;

 }
.cont{
  display: flex;
  width: 96%;
}
.cont1{
  width: 30%;
  margin-left:1%;
  border-right: #000 solid;
  padding:5px;;
}
.cont2{
  width: 70%;
  margin-left:1%;
}
.appointment{
  display: flex;
  width: 100%;
}
.appoint1{
  width: 50%;
  border-right: #000 solid;
}
.appoint2{
  width: 50%;
}
.appoint{
padding:10px;
text-align: center;
background-color: #A0ACBD;
margin-left: 2%;
border-radius: 20px;

}
button{
  color: #000;
  font-weight: bold;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.0), 0 2px 2px 0 rgba(0,0,0,1);
  border: none;
}
.top-btn-set button{
padding:5px;
border-radius:20px;
cursor: pointer;
width:100px;
border: none;

}
.pet-name p {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
}
.pet-details{
display: flex;
width: 96%;
margin-left: 2%;
}
.pet-details-list-1{
  width:48%;
}
.pet-details-list-2{
  width:48%;
  margin-left: 2%;
}
.btn-bottom-set button{
color: #000;
background-color: white;
width:250px;
border:none;
border-radius: 25px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 10px;
padding-right: 10px;
cursor: pointer;
}
.btn-bottom-set button:hover{
  color:#000;
  background-color: #C38D9E;
  }
  .content{
    width:82%;
    float:right;
    background-size: cover;
    background-position: center;
    background-image: url(../images/doctor.jpg);
    height: 100vh;
    isolation: isolate;
    position: relative;
    }
    .content::after{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: white;
        opacity: 0.9;
    }