section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  section .imgbox {
    position: relative;
    width: 50%;
    height: 100%;
  }
  
  section .imgbox :before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  section .imgbox img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
  }

   .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #96CDE1;
  }

  .save-btn .button{
    font-family: "Amatic SC";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #C38D9E;
  }

  .save-btn button{
    transition: all 0.5s ease;
    color: #000000;
    border: 3px solid white;
    font-family: "Roboto";
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: #C38D9E;
    padding: 10px;
    outline: none;
    border-radius: 15px;
  }
  
  .save-btn:hover {
    background-color: rgba(215, 226, 255, 0.6);
    transition: 0.7s;
  }
  
  
h2 {
    font-family: "Amatic SC";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #000000;
    font-variant: small-caps;  }
  
  
  form {
    width: 100%;
        padding: 35px;
        margin-left: 70px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.486);
        margin-right: 90px;
        height: 70%;
        width: 90%;
        margin-top: 30px;
      
      
      }
      
  
  
  .flex {
    display: flex;
  }
  