@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Amatic+SC&family=Poppins&display=swap");

h2 {
  margin-left: 15px;
  font-family: poppins, sans-serif;
}

h2 span {
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size: 13px;
  color: #3D3D3D;
}

table {
  width: 95%;
  font-family: poppins, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Amatic+SC&family=Poppins&display=swap');
body{
margin:0;
 
}
.nav-bar{

display:flex;
  position: fixed;
width:100%;
overflow: hidden;
 
  z-index: 2;
 background-color: rgb(212, 239, 249); 
}
.nav-left{
width:10%;
}
.nav-right{
width:90%;
text-align:right;
}

.logo{
width:60px;
}
.navbar-ul{
list-style-type:none;
}
.navbar-ul li{
display:inline;
font-weight:bold;
margin-right:3%;

}
a{
  color:black;
  text-decoration: none;
}

.zoom:hover {
  transform: scale(1.15);
  opacity: 0.9;
}

.abc:hover {
  color: blue;
}


.home-section {
  width: 100%;
  display: flex;
}

.home-right {
  width: 70%;
  float: right;
}

.home-left {
  width: 30%;
  float: left;
  background-color: #1A1617;
  /* background-color: #8B4513; */
  /* background-color: #A52A2A; */
}

.offer {
  font-size: 35px;
  color: #ffe0c3;
  font-family: poppins, sans-serif;
  font-weight: bold;
  margin: 30px;
}

.sign {
  font-size: 20px;
  color: #ffe0c3;
  font-family: poppins, sans-serif;
  font-weight: bold;
}

.btn {
  margin: 30px;
  font-size: 20px;
  font-family: poppins, sans-serif;
  background-color: transparent;
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-style: solid;
  border-radius: 10px;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;

}

.btn:hover {
  background-color: #96CDE1;
  color: black;
  transition: .3s;
}

.search-bar table {
  width: 95%;
  border-spacing: 5px;
}

.search-bar select {
  border-style: none;
  font-size: 13px;
  font-family: poppins, sans-serif;
}

.search-bar a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.searchbtn {
  background-color: blue;
  background-color: #96CDE1;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-style: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-family: poppins, sans-serif;
  font-weight: 500;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.popular-category-1 a {
  color: #000000;
  text-decoration: none;
}

.popular-category-1 a:hover {
  text-decoration: underline;
}

.popular-category-2 button {
  padding: 3px 13px;
  background-color: white;
  border: solid green;
  color: green;
  cursor: pointer;
  font-family: poppins, sans-serif;
  font-weight: 500;
}

.popular-category-2 button:hover {
  background-color: green;
  color: white;
}

.daily-deals table {
  border-spacing: 12px;
}

.daily-deals button {
  padding: 3px 13px;
  background-color: white;
  border: solid rgb(128, 0, 115);
  color: rgb(128, 0, 115);
  cursor: pointer;
  font-family: poppins, sans-serif;
  font-weight: 500;
}

.daily-deals button:hover {
  background-color: rgb(128, 0, 115);
  color: white;
}

.daily-deals a {
  color: #000000;
  text-decoration: none;
}

.daily-deals a:hover {
  text-decoration: underline;
}

.daily-deals {
  overflow-y: scroll;
}

.daily-deals img {
  width: 250px;
}

.daily-deals span {
  color: red;
}

.popular-category-2 a {
  color: #000000;
  text-decoration: none;
}

.popular-category-2 a:hover {
  text-decoration: underline;
}


.bottom {
  display: flex;
  width: 100%;
}

.columns {
  text-align: left;
  width: 20%;

}

.columns li {
  list-style-type: none;
  font-family: poppins, sans-serif;
}

.columns li a {
  color: #2c2c2c;
  text-decoration: none;
  font-family: poppins, sans-serif;
}

.columns li a:hover {
  text-decoration: underline;
}
.columns select{
  font-family: poppins, sans-serif;
}
.brands a {
  color: #000000;
  text-decoration: none;
}

.brands a:hover {
  text-decoration: underline;
}

.brands {
  overflow-y: scroll;
}

.brands img {
  width: 200px;
  height: 150px;
}

.brands span {
  color: red;
}


.advertisment {
  width: 100%;
  display: flex;
}

.ad1 {
  width: 32%;
  margin-left: 1%;
}

.ad2 {
  width: 32%;
  margin-left: 1%;
}

.ad3 {
  width: 32%;
  margin-left: 1%;
  margin-right: 1%;
}

.article {
  width: 100%;
  display: flex;
}

.art-left {
  width: 40%;
}

.art-right {
  width: 60%;
}

.art-right p {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin-left: 2%;
}

.art-right button {
  padding: 5px 25px;
  color: white;
  background-color: green;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-left: 2%;
}

.art-left img {
  width: 500px;
  height: 300px;
}

.foot {
  width: 100%;
  display: flex;
}

.f-left {
  width: 85%;
  float: left;
  text-align: left;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
}

.f-left a {
  color: #6E6E6E;
}

.f-right {
  width: 15%;
  float: right;
  text-align: right;
  margin-right: 15px;
}