body{
  margin: 0;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #96CDE1;
}

li a {
  display: block;
  color: #000;
  padding: 35px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #C38D9E;
  color: C38D9E;
}

li a:hover:not(.active) {
  background-color: #f1f1f1;
  color: #C38D9E;
}
